.customContainer {
  padding-top: 0 !important;
}

.header {
  text-align: center;

  &__img {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 1px;
    border-bottom: {
      left-radius: 5px;
      right-radius: 5px;
    }
  }
}

.fluidImg {
  width: 100%;
}

.navigation {
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 1px;
  border-radius: 3px;
}